<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This are the personal dates of some of the family members</h1>

    <h1>FAMILY1</h1>


    <p style="color:red">My name is: {{f1name}}</p>
    <p style="color:blue">My last_name is: {{f1last_name}}</p>
    <p style="color:green">Im {{f1age}} years old</p>
    <p style="color:blueviolet">Im a {{f1profession}}</p>
    <p style="color:indianred">The day of my birthday is {{f1birthday}} </p>

    <h1>FAMILY2</h1>
    
    
    <p style="color:red">My name is: {{f2name}}</p>
    <p style="color:blue">My last_name is: {{f2last_name}}</p>
    <p style="color:green">Im {{f2age}} years old</p>
    <p style="color:blueviolet">Im an  {{f2profession}}</p>
    <p style="color:indianred">The day of my birthday is {{f2birthday}} </p>


    <h1>FAMILY3</h1>


    <p style="color:red">My name is: {{f3name}}</p>
    <p style="color:blue">My last_name is: {{f3last_name}}</p>
    <p style="color:green">Im {{f3age}} years old</p>
    <p style="color:blueviolet">Im a {{f3profession}}</p>
    <p style="color:indianred">The day of my birthday is {{f3birthday}} </p>



   
</body>
</html>